*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Netflix Sans', sans-serif;
  background: linear-gradient(287.56deg, #481FEC 0%, #E21E1E 100%);
}
::-webkit-scrollbar{
  width: 7px;
  background-color: #111;
}
::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 10px;
}

li, a,button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
}

#navbar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.logo
{
  cursor: pointer;
  width: 315px;
}

.nav__links {
  list-style: none;
}

.nav__links li {

  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  color: white;
  padding: 10px 10px;
  border-radius: 30px;

}

.nav__links li a:hover {
  color: #E21E1E;
  background: #481FEC;
}

.cta{
  padding: 9px 25px;
  background-color: #E21E1E;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.cta:hover{
  background-color: #481FEC;
  color: #E21E1E;
}
.headerText {
  float: right;
  display: flex;
  width: 25%;
  height: 600px;
  flex-direction: column;
}

.headerText h1 {
  color: #E21E1E;
  font-size: 3.5em;
  font-weight: bolder;
  text-align: center;
  padding: 40px 0;
}
.headerText img {
  transform: rotateX(180deg);
  padding-right: 10px;
}

#banner{
  color: white;
  width: 70%;
  margin-top: 0px;
  margin-left: 50px;
  height: 600px;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  background-position: center;
}
#banner:hover #banner__fadeBottom{
  width: 100%;
  background: #000;
  opacity: 0.8;
}
#banner__fadeBottom{
  position: absolute;
  width: 100%;
  height: inherit;
  background: radial-gradient(59.49% 115.14% at 0% 100%, #000000 0%, rgba(0, 0, 0, 0.3) 100%);
  border-radius: inherit;
}
#banner__contents{
  position: absolute;
  margin-left: 70px;
  padding-top: 385px;
  height: 190px;
}
#banner__title{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
#banner__description{
  width: 45rem;
  line-height: 1.5;
  padding-top: 1rem;
  font-size: .9rem;
  max-width: 560px;
  height: auto;
}
#four{
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: .2vw;
  padding-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: .5rem;
  background-color: rgba(51,51,51,.5);
  padding-bottom: .5rem;

}
#banner:hover #four{
  color: black;
  background-color: #e6e6e6;
  transition: all .3s;
}
.row{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 2rem;
  margin-left: 1rem;
}
.row__poster{
  object-fit: contain;
  width: 100%;
  max-height: 120px;
  margin-right: 10px;
  transition: transform 500ms;
}
.row__posters::-webkit-scrollbar{
  display: none;
}
.row__posters::-webkit-scrollbar-thumb{
  display: none;
}
.row__posters{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  margin-left: 50px;
  
}
.row__title {
  color: white;
  padding-left: 10px;
  font-size: 1.5em;
  font-weight: bolder;
}
.row__poster:hover{
  transform: scale(1.08);
  filter: blur(5px);
}
.row__posterLarge, 
.row__posterLarge1,
.row__posterLarge2{
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  margin-right: 30px;
  transition: transform 500ms;

}
.row__posterLarge:hover,
.row__posterLarge1:hover,
.row__posterLarge2:hover{
  transform: scale(1.09);
  opacity: 1;
  filter: blur(1px);

}

#contents {
  display: flex;
  align-items: center;
  padding-top: 30px;
  color: white;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
  background-color: #481FEC;
  border-radius: 50px;
  padding: 30px;
}
.content:hover{
  background-color: #E21E1E;
  color: white;
  transform: scale(1.05);
  transition: all .3s;
  -webkit-transform-origin-y: 10px;
}
.content:hover i{
  color: blue;
}
.content i {
  color:red;
  font-size: 3.5em;
  padding: 0px 10px;
}
#contents h1 {
  font-size: 1.5em;
  font-weight: bolder;
  padding: 10px;
}
.icon {
  width: 60px;
}